:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-size-m: 24px;
  --font-line-m: 32px;
  --font-m: var(--font-family-main) / var(--font-size-m) var(--font-size-m);
  --font-size-l: 32px;
  --font-line-l: 40px;
  --font-l: var(--font-family-main) / var(--font-size-l) var(--font-size-l);
  --font-size-xl: 40px;
  --font-line-xl: 48px;
  --font-xl: var(--font-family-main) / var(--font-size-xl) var(--font-size-xl);

  // Размеры
  --navbar-height: 50px;
  --sidebar-width-full: 300px;
  --sidebar-width-collapsed: 80px;

  // Индексы
  --modal-z-index: 10;

  // Цвета
  --overlay-color: rgba(0 0 0 / 60%);
  --red-light: #f00;
  --red-dark: #c50a0a;
}
