.Navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  gap: 15px;
  justify-content: space-between;
  background: var(--bg-navbar-color);
  align-items: center;
  padding: 0 10px;
}

.links {
  align-self: center;
  display: flex;
  gap: 15px;
}

.container {
  display: flex;
  gap: 25px;
}

.switchers {
  display: flex;
  gap: 15px;
  align-self: center;
}

